<div class="col-lg-offset-0">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Brick type</th>
      <th>When appeared</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

